.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;

}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 10px;
    color: black;
}